#login-form-wrap{

    margin-top: 120px;
    width: 540px;
    height: 50px;

    background-color: lightgrey;

    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#wrapper-wrapper{

    align-items: center;
    display: none;
    justify-content: top;
    margin-top: -80px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(128, 128, 128, 0.7);
    height: 100vh;
    flex-direction: column;

}

#top-nav-wrapper{
    display: flex;
    background-color: blue;
    height: 30px;
}

.active{
    color: darkorange;
    font-weight: 700;
}

.inactive{
    color: black;
    font-weight: 300;
}

.menu-nav-wrapper{

    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 45px;
   
}

.active-menu-nav-wrapper{

    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 45px;
    border-bottom: darkorange solid 3px;

}

.passive-menu-nav-wrapper{

    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 45px;
   
}

.active-menu-nav-wrapper:hover{
    cursor:pointer;
}

.passive-menu-nav-wrapper:hover >#sign-up-nav{
    cursor: pointer;
    color: orange;
}


.passive-menu-nav-wrapper:hover >#log-in-nav{
    cursor: pointer;
    color: orange;
}
