


#photobox{
    height: 850px;
    width: 100%;
    background-color: rgb(234, 233, 233);
    margin-right: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-wrapper{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#right{
    width: 800px;
    height: 1900px;

}

#left {
    width: 800px;
    height: auto;
    margin-right: 30px;
    margin-left: 230px;
}

.noShadow{
    box-shadow: none
}

.withShadow{
    box-shadow: 0px 0px 9px rgb(213, 213, 213)
}

#photo{
    width: 760px;
    height: 800px;
    object-fit: cover;
}

#biglike{
    position: absolute;
    margin-top: -760px;
    margin-left: 710px;
    height: 55px;
    width: 55px;
    font-size: 34px;

}

#biglike:hover{
    color: black;
    height: 62px;
    width: 62px;
    font-size: 38px;    
}



.instInfoLink{
    color: black;
    font-size: 14px;
}

.instInfoLink:hover{
    color:orangered;
}
#linkbox{
    margin-bottom: 15px;
    font-size: 14px;
    color: darkgray;
}

#instrumentInfoBox{
    height: 600px;
    width: 70%;

    padding-left: 25px;
    padding-top: 1px;
    border-radius: 20px;
    position: sticky;
    top: 20px;

}

#title{
    margin-top: 25px;
    font-size: 37px;
    font-weight: 650;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 40px;
}

#condition-box{
    width: 90px;
    height: 23px;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#condition-box:hover{
    cursor:default;

}

#condition-box:hover #condition-explanation{
    display: flex;
}

#condition{
    font-size: 12px;
    color: gray;
    border-bottom: 1px dashed gray;
}

#condition-explanation{
    width: 300px;
    height: 35px;
    box-shadow: 0px 0px 5px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    background-color: white;
    margin-top: -75px;
    margin-left: -190px;
    display: none;
    font-size: 14px;
}

#inst-page-price{
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-top: 20px;

}

#shipping{
    font-size: 15px;
    color: gray;
    margin-top: 8px;
}

#affirm{
    font-size: 12px;
    color: gray;
    margin-top: 25px;
}

#low{
    font-weight: 900;
    color: black
}
#affirm-text{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    background-color: white;
    height: 20px;
    width: 30px;
    border-radius: 6px;

}

#blucirc{
    position: absolute;
    width: 30px;
    height: 15px;
    border: blue 2px solid;
    border-radius: 30px 30px 0 0;
    transform: translate(-50%, -50%);
    margin-top: -15px;
    margin-left: 151px;
    z-index: -1;
}

#sparkle{
    height: 17px;
    width: 17px;
}

#recently-listed{
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px dashed black;

}

#recent-wrapper{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

#listed-explanation{
    position: absolute;
    height: 45px;
    width: 220px;
    border: lightgray 1px solid;
    box-shadow: 0px 0px 2px rgb(224, 223, 223);
    background-color: white;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 15px;
    margin-top: -65px;
    margin-left: -45px;
    display: none;
}

#recent-wrapper:hover{
    cursor:default;
}

#recent-wrapper:hover #listed-explanation{
    display: flex;
}

#buyItNow{
    margin-top: 25px;
    width: 530px;
    height: 45px;
    border: solid orange 1px;
    color: white;
    background-color: #FF6200;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}
#buyItNow:hover {
    background-color: rgb(255, 142, 98);
    cursor: pointer;
}

#button-holder{
    display: flex;
   align-items: center;
    justify-content: space-between;
    width: 530px;
    margin-top: 12px;
}

.otherButton{
    height: 45px;
    width: 260px;
    background-color: rgb(215, 215, 215);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}

.otherButton:hover{
    background-color:rgb(187, 187, 187);
    cursor: pointer;
}

#watch-button{
    width: 530px;
    height: 45px;
    background-color: rgb(215, 215, 215);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    margin-top: 12px;
}

#watch-button:hover{
    background-color:rgb(187, 187, 187);
    cursor: pointer;
}

#product-background-info{
    font-size: 14px;
    color: gray;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 530px;
}

.key{
    font-weight: 800;
}

#button-bottom{
    width: 530px;
    margin-top: 25px;
    margin-left: -1px;
    border-color: rgb(233, 233, 233);
    border-top: 1px solid #ccc;
    
}


.aboutThisListing{
    font-size: 28px;
    font-weight: 600;
    margin-top: 40px;
}

.description{
    margin-top: 50px;
    line-height: 24px;

  
}

.specs{
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
}

.spec-wrapper{
    display: flex;
}

#listed-wrapper{
    margin-top: 30px;
}

.specKey{
    font-weight: 700;
    font-size: 16px;
}

.spekValue{
    position: absolute;
    margin-left: 200px;

}

.spec-wrapper{
    margin-top: 18px;
    
}

#condition-expl-wrapper{
    margin-left: -74px;
}

#condition-spec-expl{
margin-top: 30px;
margin-left: 200px;
font-size: 14px;
color: gray;
}

#blue-info-box{
    margin-top: 50px;
    width: 800px;
    height: 88px;
    background-color: rgb(236, 237, 254);
    border-radius: 15px;
    margin-bottom: 40px;
}

#blue-info-box{
    display: flex;
}

.blue-sub-box{
    display: flex;
    align-items: center;
    padding: 20px;
}

.blueIcon{
    height: 30px;
}

.subSubBox{
    padding: 20px;
}

.reverb-reassure{
    font-size: 12px;
    margin-top: 5px;
    color: gray;
}

#buyerProtectionBox{
    margin-top: 50px;
    width: 800px;
    height: 88px;
    background-color: rgb(236, 237, 254);
    border-radius: 8px;
    display: flex;
}

#blueSkinny{
    width: 10px;
    height: 88px;
    background-color: blue;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

#bpText{
    margin-left: 10px;
    margin-top: 10px;
}

.gotYourBack{
    font-size: 16px;
    margin-top: 8px;
    font-weight: 200;
    line-height: 20px;
  
}

#sell-yours{
    background-image: url('../../assets/images/sellYours.jpeg');
    height: 300px;
    width: 600px;
    background-color: blue;
    position: absolute;
    margin-top: 2100px;
    margin-left: 1055px;
    
}

#sell-yours-top{
    background-image: url('../../assets/images/sell-yours-top.jpeg');
    height: 20px;
    width: 600px;
    position: absolute;
    margin-top: 1950px;
    margin-left: 1055px;
    
}

#sell-yours-text{
    width: 603px;
    height: auto;

    background-color: rgb(255, 239, 229);
    position: float;
    margin-top: 1950px;
    margin-left: -801px;
    
}

#sell-text-wrapper{
    margin-left: 30px;
    margin-top: 45px;
}

#sell-title{
    font-size: 20px;
    font-weight: 700;
}

.sellBody{
    font-size: 15px;
    line-height: 22px;
    margin-top: 20px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding-right: 40px;
}

#instrument-reviews-box{
    margin-top: 100px;
}