.item-wrapper{

    height: 200px;
    width: 96%;

    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    
}

.cart-pic{
    height: 200px;
    border-radius: 15px;
    width: 200px;
    object-fit: cover;
}

.cart-item-details{
    margin-left: 10px;
}

.cart-item-name{
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color:rgb(77, 75, 75)
}

.sold-by{
    font-size: 12px;
    color:rgb(77, 75, 75);
    margin-top: 20px;
}

.cart-item-seller{
    margin-top: 8px;
}

.move-to-watchlist{
    display: flex;

    font-size: 14px;
}

.move-to-watchlist:hover{
    color:orangered;
    cursor: pointer;
}

.move-to-watchlist:hover p{
    color:orangered;
    cursor: pointer;
}

.move-words{
    color: rgb(60, 60, 60);
}

.cart-links{
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.remove-words{
    color: rgb(60, 60, 60);
    font-size: 14px;
    margin-top: 1px;
}
.remove{
    display: flex;
    margin-top: 2px;
    margin-left: 15px;
}

.remove:hover{
    color:orangered;
    cursor: pointer;
}

.remove:hover p{
    color: orangered;
    cursor: pointer;
}

.pricing-wrapper{
height: 200px;
width: 150px;
display: block;
flex-direction: column;
text-align: right;
}

.cart-item-price{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.cart-item-shipping{
    font-size: 13px;
    line-height: 19px;
    font-weight: 400px;
    color: gray;
}

.cart-item-tax{
    font-size: 13px;
    line-height: 19px;
    font-weight: 400px;
    color: gray;
    border-bottom: gray dashed 1px;
    width: 100px;
    margin-left: 50px;
}

.tax-explanation{
    width: 280px;
    height: 40px; 
    background-color: white;
    border: gray 1px solid;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top:-70px;
    margin-left: -60px;
    display: none;
}

.cart-item-tax:hover .tax-explanation{
    display: flex;
    cursor: default;
}

.pricing-wrapper:hover{
    cursor: default;
}

#cart-items-only-wrapper{
    width: auto;

    
    flex-direction: column;
   
}



#help{
    height: auto;
    width: auto;
  
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}