#infinite-carousel-wrap{
        height: auto;
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hide;
      
}

#if-wrap-wrap{
   width: 90%;
   height: auto;
    overflow-x: scroll;
    overflow-y: hide;
  
}