#seller-wrapper{


    height: auto;
    width: 800px;
 
}

#shop-image-left{
    background-image: url('/assets/images/my-shop-orange-892ef04585ac0da6.svg');
    background-size: 60px;
    height: 60px;
    width: 60px;

}

#shop-wrap{
    height: 80px;
    width: 80px;
    background-color: rgb(229, 229, 229);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    border: rgb(243, 192, 147) solid 1px;
}

#seller-dets{
    display: flex;
    align-items: center;
    margin-top: 45px;
}


#seller-info{
    margin-left: 20px;
    font-size: 30px;
}

.sellerLine{
    margin-top: 15px;
    border-color: rgb(233, 233, 233);
    border-top: 1px solid #ccc;
}

.stars{
    width: 80px;
}

.five-stars{
    width: 80px;
    background-image: url('/assets/images/fiveStars.png');
    height: 20px;
    background-size: 80px;
    background-repeat: no-repeat;
}

.four-stars{
    width: 80px;
    background-image: url('/assets/images/fourStars.png');
    height: 20px;
    background-size: 80px;
    background-repeat: no-repeat;
}

.three-stars{
    width: 80px;
    background-image: url('/assets/images/threeStars.png');
    height: 20px;
    background-size: 80px;
    background-repeat: no-repeat;
}

.two-stars{
    width: 80px;
    background-image: url('/assets/images/twoStars.png');
    height: 20px;
    background-size: 80px;
    background-repeat: no-repeat;

}

.one-star{
    width: 80px;
    background-image: url('/assets/images/oneStar.png');
    height: 20px;
    background-size: 80px;
    background-repeat: no-repeat;
}

#no-stars{
    width: 80px;
    background-image: url('/assets/images/noStars.png');
    height: 20px;
    background-size: 80px;
    background-repeat: no-repeat;
}

#four-star-avg{
     width: 80px;
    background-image: url('/assets/images/fourStars.png');
    height: 20px;
    background-size: 80px;
    background-repeat: no-repeat;
}


.review-date-created{
    margin-left: 10px;
}


.reviews-header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 38%;

}