
#checkout-wrapper{
    width: 100%;
;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    justify-content: space-around;
  


}


#checkout-left{
    width: 900px;
    height: 30px;

    margin-left: 100px;
}

#checkout-right{
    width: 900px;
    height: auto;

    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#address-box{
    height: 200px;
    width: 100%;
    background-color: white;
    border: solid 1px #d3d3d3;
    border-radius: 15px;
}

.checkout-head{
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 18px;
}

.shipping-line{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#c-wrapper-wrapper{
    position: abolute;
    height: auto;

}

#address-wrapper{
    margin-left: 20px;
    font-size: 18px;
    line-height: 20px;
}

#checkout-items-box {
    width: 100%;
    background-color: white;
    border: solid 1px #d3d3d3;
    border-radius: 15px;
    height: auto;
}

.checkout-img{
    width: 120px;
    object-fit: cover;
    height: 120px;
    border-radius: 14px;
    margin-right: 20px;
}

#checkout-items-wrapper{
    margin-left: 20px;
}

#checkout-single-wrapper{
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: space-between;
    flex-direction: row;
}

#checkout-words-wrapper{
    margin-left: 35px;
    margin-top: 5px;
}

.checkout-title{
    font-size:18px;
    color: rgb(69, 69, 69);
}

.checkout-seller{
    font-size: 14px;
    line-height: 24px;
    color: gray;
}

.shipping-method{
    font-weight: 700;
    font-size: 14px;
}

.standard-shipping{
    font-size: 18px;
    color: gray;
    margin-top: 8px;
}

.checkout-items-left-box{
    display: flex;
}

.checkout-price-wrapper{
    text-align: right;
    margin-right: 20px;
}

.checkout-price{
    font-size: 16px;
}

.shipping-price-checkout{
    font-size: 16px;
    color: gray;
    margin-top: 12px;
}



.checkout-hr{
    width: 96%;

    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 1em;
    padding: 0;
    
}

.damage-sub-box{

    display: flex;
    justify-content: space-between;
    width: 100%

}

.damage-words{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(101, 101, 101);
    font-size: 16px;
}

.damage-numbers{
    margin-right: 20px;
    color: rgb(101, 101, 101);
    font-size: 16px;
}

#total-words-damage{
    font-size: 26px;
    color: black;
    font-weight: 600;
    margin-bottom: 30px;
}

#total-numbers-damage{
    font-size: 26px;
    color: black;
    font-weight: 600;
}

#place-order{
    width: 900px;
    height: 50px;
    background-color: black;
    margin-top: 45px;
    border-radius: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
}

#haha{
    margin-top: 20px;
}

.csr-icon-wrapper{
    color: white;
    margin-top: -30px;
    position: absolute;
    font-size: 22px;
    margin-left: 22px;
    
 
}

.csr-circle{
    width: 40px;
    height: 40px;
    background-color: black;
  
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-left: 15px;

    
}

.checkout-csr-wrapper{
    display: flex;
    margin-top: 50px;
    width: 100%

}

.csr-words-wrap{
    margin-left: 20px;
 
}

.csr-title{
    font-weight: 900;
}

.csr-expl{
    margin-top: 7px;
    color: gray;
    font-weight: 300;
}

#csr-tree{
    font-size: 30px;
    margin-top: -33px;
    margin-left: 20px;
}

#payment-box{
    width: 100%;
    height: auto;

    margin-top: 40px;
    border-radius: 15px;
    border: solid 1px lightgray;
}

#credit-card-box{
    width: 95%;
    height: 400px;
    border: solid 3px black;
    margin-left: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 30px;
    background-color: rgb(219, 219, 219);
    border-top: none;
    margin-bottom: 20px;
    padding-top: 10px;
}

#credit-header{
    height: 90px;
    width: 95%;
    margin-left: 20px;

    margin-bottom: -30px;
    margin-top: 30px;
    border: solid 3px black;
    border-bottom: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    flex-direction: row;
}


#card{

    font-size: 20px;
}
input[type="radio"] {
    
    border: 0px;
    width: 100%;
    height: 1.5em;
    accent-color: black;
    
  
}

#checkout-button-holder{
    width: 100px;
    margin-top: -7px;
    align-items: center;
    display: flex;

}

#checkout-card{
    font-size: 18px;
    margin-top: 4px;
    margin-left: 15px;
}

#cards{
    height: 30px;
    margin-top: 30px;
    margin-left: 520px;
}

#credit-card-form{
    margin-top: 20px;
    margin-left: 50px;
}

.credit-card-title{
    font-weight: 600;
    margin-bottom: 5px;
}

#number-text{
    height: 40px;
    width: 90%;
    border-radius: 10px;
    color: gray;
    font-size: 20px;
    padding-left: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
} 

#validations-wrapper{
    margin-top: 20px;
    display: flex;
    widtH: 75%
}

#expiration-text{
    height: 40px;
    width: 100%;
    border-radius: 10px;
    color: gray;
    font-size: 18px;
    padding-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#expiration-wrapper{
    width: 65%;
    margin-right: 15px;
}

#security-code-text{
   
    height: 40px;
    width: 70%;
    border-radius: 10px;
    color: gray;
    font-size: 18px;
    padding-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#security-code-wrapper{
    margin-left: 20px;
    width: 30%;
}

#checkbox-wrapper{
    margin-top: 30px;

}





input[type='checkbox']{
    accent-color: black;
    font-size: 200px;
}

#bottom-address-wrapper{
    margin-top: 25px;
}

#credit-card-line{

    width: 95%;
    margin-top: 25px;
    margin-left: -10px;
}