.header_main{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px lightgray solid;
    width: 100%;
    
}



#logo {
    height: 40px;
    }

#sell-button {
    background-color: white;
    width: 166px;
    height: 48px;
    border-radius: 25px;
    border: 4px black solid;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;

}

#favs{
    display: flex;
    flex-direction: column;
}

#favs:hover div{
    color: orange;
}

#cart-word:hover div{
    color: orange;
}
#cart-link{
    color: black;
}
#cart-word:hover #cart-link{
    color: orange;
}

#sell-button:hover{
    background-color: lightgray;
    cursor: pointer;
}

#favs-word-nav:hover #heart{
    color: orange;
}

.userlink{
    color: grey;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    white-space: nowrap;
}

.userlink:hover{
    color: orange;
    cursor: pointer;
}

.iconlink{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: gray;
}

.iconlink:hover{
    color:orange;
    cursor: pointer;
}

.menutext{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: gray;
}

.menutext:hover{
    cursor: pointer;
}

#heart:hover{
    color:orange;
    cursor: pointer;
}

#cart:hover{
    color:orange;
    cursor: pointer;
}

#userCircle{
    font-size: 30px;
    color: grey;
    margin-bottom: -4px;
}

#heart{
    color: black;
    font-size: 25px;   
    margin-left: 13px;
}

#cart{
    color: black;
    font-size: 25px; 
    margin-left: -3px;
    
}


#buttonWrapper{
    display: flex;
    width: 170px;
    align-items: center;
    justify-content: space-between;
    margin-right: 90px;

}



#searchWrapper{
    display: flex;
    margin-top: 5px;
    width: 70%;
    height: 51px;

}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown:hover .dropdown-content {
    display: block
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;

    z-index: 1;
    margin-top: 45px;
    margin-right: 150px;
    border: 1px solid lightgray;
    height: 150px;
    border-radius: 10px;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  #user-menu-name{
    font-size: 16px;
    color: black;
    font-weight: 700;
    margin-bottom: 10px;
  }

  #dc-wrapper{
    margin-left: 15px;
    margin-top: 15px;
  }

  .dropdown-line{
    width: 180px;
    margin-left: -5px;
  }

  .dropdown-link{
    color: black;
    font-size: 16px;
    font-weight: 400;
    margin-left: -15px;
    margin-top: -5px;
    margin-bottom: -5px;

  }

  .dropdown-link:hover{
    color:orange;
 
  }



  #logo-link{
    margin-right: -100px;
    height: 40px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
  }

  #cart-link{
    text-decoration: none;

}

#cart-link:hover{
    color: orange;
    
}

#item-count{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: orangered;
    margin-left: 13px;
    margin-top: -37px;
    display: flex;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    display: none;
    align-items: center;
    justify-content: center;
}

#effects-pedals-wrap{
    text-decoration: none;
    color: black;
}

.little-link-nav{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 300;
}

#little-link-wrapper{
    margin-left: 120px;
    margin-top: 5px; 
    width: 25%;
    display: flex;
    justify-content: space-between;
}

