.header_main{
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px black solid;
}

#searchbar {
    width: 800px;
    height: 48px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 16px;
    color: grey;
    padding-left: 10px;
    font-weight: 400;
    margin-right: 10px;
    margin-left: 25px;
}

#logo {
    height: 65px;
    padding-left: 10px;
}

#sell-button {
    background-color: white;
    width: 166px;
    height: 48px;
    border-radius: 25px;
    border: 4px black solid;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;

}

#sell-button:hover{
    background-color: lightgray;
    cursor: pointer;
}

.userlink{
    color: grey;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    white-space: nowrap;
}

.userlink:hover{
    color: orange;
}

.iconlink{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: gray;
}

.iconlink:hover{
    color:orange;
    cursor: pointer;
}

.menutext{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: gray;
}

.menutext:hover{
    cursor: pointer;
}

#heart:hover{
    color:orange;
    cursor: pointer;
}

#cart:hover{
    color:orange;
    cursor: pointer;
}

#userCircle{
    font-size: 30px;
    color: grey;
    margin-bottom: -4px;
}

#heart{
    color: black;
    font-size: 25px;   
}

#cart{
    color: black;
    font-size: 25px; 
}


#buttonWrapper{
    display: flex;
    width: 420px;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 10px;
}

#searchButton{
    font-size: 20px;
    transform: rotate(90deg);
    border: black 1px solid;
    width: 51px;
    margin-left: -11px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#searchButton:hover{
    background-color: lightgray;
    cursor: pointer;
}

#searchWrapper{
    display: flex;
    margin-top: 5px;

}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown:hover .dropdown-content {
    display: block
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;

    z-index: 1;
    margin-top: 50px;
    margin-right: 150px;
    border: 1px solid lightgray;
    height: 150px;
    border-radius: 10px;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  #user-menu-name{
    font-size: 16px;
    color: black;
    font-weight: 700;
    margin-bottom: 10px;
  }

  #dc-wrapper{
    margin-left: 15px;
    margin-top: 15px;
  }

  .dropdown-line{
    width: 180px;
    margin-left: -5px;
  }

  .dropdown-link{
    color: black;
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
  }

  .dropdown-link:hover{
    color:orange;
  }