#guitars-page-wrapper{
    width: 100%;
    
}

#guitars-page-wrapper-wrapper{
    width: vw100;
    min-height: 720px;
    margin-top: 30px; 
    margin-left: 150px; 
    font-size: 20px;
}

#guitars-page-links-wrapper{
    color: black;
    text-decoration: none;
}

#guitars-page-title{
    margin-top: 40px; 
    font-size: 70px;
    font-weight: 800;

}

#realGenWrap{
    overflow-x: scroll;
    overflow-y:hidden;
    padding-top: 15px;
}